/* Admin Dashboard improvements */
.admin-card h3{
font-size:20px;
margin-bottom:10px;
}

.admin-card p{
font-size:18px;
margin:0;
}

.log-card textarea{
width:100%;
border-radius:10px;
border:none;
padding:10px;
background:#222;
color:gold;
font-size:14px;
resize:none;
}

.backBtn{
margin-top:20px;
padding:10px 25px;
border:none;
background:gold;
color:black;
border-radius:10px;
cursor:pointer;
font-size:16px;
}
